# Cython generation:
*.cpp
*.so
*.o
*.c
*.html
sparse_ho.egg-info/*

# Python precompilation
*pyc

# Data
examples/data/*
data/*

# cache
.pytest_cache/*

doc/*
coverage/*
.coverage

.DS_Store
MANIFEST
.vscode/settings.json
.gitignore
examples/ugar.utils import sugar_adaptive, fast_sugar_adaptive, sugar, my_Lasso
.gitignore
junit-results.xml
